<% provide(:title, 'Community Guidelines') %>

<div class="hero-unit">
	<h1>Community Guidelines</h1>
</div>

<div class="guidelines-container">
	<div class="row">
		<div class="grey-box span12">
			<p class= "guidelines-intro">
				<h1>A Foreword</h1>
				<br/>
				We strongly believe that anyone can teach, be they professors, teachers, TA's students,
				or just people passionate about education. Similarly, we believe that anyone can learn
				if provided with the right tools. We are happy to open our doors to everyone, and it is 
				our goal to connect teachers and learners to facilitate a community where better education
				thrives. You are considered a member of the CrowdCourse community if you watch a video,
				create an account, upload a video, post a comment, or otherwise participate in the website
				in any way. As a member of our community, we ask that you please adhere to the guidelines
				listed below. In general, all we ask is that you use common sense and be respectful of others.
			</p>

			<br/>
			<hr/>
			<br/>
			
			<h3>1. All content you contribute must be your own work.</h3>	

			<p>
				Any content you contribute (be it a video, a comment, or any other contribution to the website),
				must be your own work. If the content is copyrighted, you must be either the holder of the
				copyright or have express permission from the holder of the copyright to display the content
				on our site.
			</p>

			<br/>

			<h3>2. Commercial content of any kind is not allowed.</h3>

			<p>
				Prohibited commercial content includes any material submitted to the website which:
				<ul>
					<li>
						is or contains advertisements of any kind
					</li>
					<li>
						promotes a business
					</li>
					<li>
						promotes a competing or similar website
					</li>
					<li>
						is created for the main purpose of generating revenue
					</li>
				</ul>
			</p>

			<br/>

			<h3>3. Hateful or hurtful language is not allowed.</h3>

			<p>
				Prohibited language includes:
				<ul>
					<li>
						profanity or swearing
					</li>
					<li>
						threats or personal insults
					</li>
					<li>
						derogatory speech towards a certain ethnicity, religion, class, or other demographic
					</li>
				</ul>
			</p>
			<p>
				Please note that you <b><i>are</i></b> allowed to give negative feedback.
				In fact, honest feedback is an important part of what makes the CrowdCourse 
				community so great. Just keep in mind that your feedback should always 
				be respectful, constructive, and non-personal.
			</p>

			<br/>

			<h3>4. No nudity, pornography, or sexually explicit content.</h3>

			<p>
				You must not upload any videos which are pornographic or sexual in nature. Nudity
				of any kind is not allowed. Comments which are sexually suggestive, or which might
				be considered sexual harassment are strictly prohibited.
			</p>

			<br/>

			<h3>5. Other prohibited content</h3>

			<p>
				In addition to what's listed above, you may not contribute any content that:
				<ul>
					<li>
						exhibits drug abuse
					</li>
					<li>
						shows extreme violence (including animal abuse)
					</li>
					<li>
						shows or suggests any type of illegal act
					</li>
					<li>
						might be considered shocking or disgusting
					</li>
					<li>
						violates the privacy or rights of another individual
					</li>
					<li>
						intentionally misleads students/learners by teaching content incorrectly
					</li>
					<li>
						is automatically or randomly generated
					</li>
					<li>
						includes an impersonation of another individual (such as a professor)
					</li>
				</ul>
			</p>

		</div>
	</div>

<div class="row">
		<div class="grey-box span12 vertical-space-more">
			<p class= "guidelines-outro">
				As compliant with our <%= link_to "Terms of Service", "/legal#terms" %>, CrowdCourse reserves
				the right to <b><i>remove any content</i></b> that does not adhere the the above guidelines, at 
				CrowdCourse's sole discretion. We also reserve the right to <b><i>restrict the access of</i></b>, or 
				<b><i>permanently delete</i></b> the CrowdCourse accounts of repeat offenders, or offenders who have 
				caused extensive or grave consequences by violating the above guidelines, as determined at our sole 
				discretion. We hope that we will never need to exercise these rights.
			</p>
		</div>
	</div>

</div>
