<div class="hero-unit vertical-space video-guidelines">
	<h1>Video Quality Guidelines</h1>
	<br/>
	<p>
	In addition to following our <%= link_to "Community Guidelines", guidelines_path %>, we ask that people who upload videos follow these general rules to ensure quality. It is our mission to offer the best learning experience possible to our users, and we reserve the right to remove any videos that do not adhere to the following guidelines.		
	</p>
	<br/>
	<p>
		<ul>
			<li>
				Videos must address the lesson under which they are uploaded. It is okay
				to mention preceeding or proceeding lessons, but going into detail
				about them is not allowed.
			</li>
			<li> 
				Videos should be short and to the point. Don't ramble on about 
				things that are irrelevant to the topic at hand.
			</li>
			<li>
				Excessive intros and outros are not allowed. Short ones are okay though.
			</li>
			<li>
				Do not play music in your videos. The majority of viewers 
				will find this annoying.
			</li>
			<li>
				Ensure that videos are taken in good lighting and that any
				text is legible.
			</li>
			<li>
				Similarly, make sure that any speech in the video is loud enough
				to hear and easy to understand.
			</li>
		</ul>
	</p>
	<br/>
	<br/>
	<p>
		Thanks for your interest in contributing to CrowdCourse!
	</p>
</div>