<% provide(:title, 'Learn') %>

<div class="hero-unit">
	<h1>Learn</h1>
	<p>
		This page will show basic information about how the learning process works. I haven't written it yet, but I will soon. For now, you can click on the buttons below.
	</p>
	<p>
		<br/>
		<%= link_to "Find a Course", courses_path, :class => "btn btn-large btn-blue" %> &nbsp;
		<%= link_to "Watch a Video", videos_path, :class => "btn btn-large btn-grey" %>
	</p>
</div>