<% provide(:title, 'Teaching') %>

<div class="hero-unit">
	<h1>How to Contribute</h1>

	<br/>

	<p>
		At CrowdCourse, we believe anyone and everyone can be a teacher. 
		Hence, anyone with a CrowdCourse account can upload videos. Our courses are 
		split up into short, distinct lessons because we want to make it as easy as 
		possible to find what you're looking for. To start uploading videos,
		find a course you're interested in, select a lesson within that course, and
		then click "Upload Video." For the sake of your viewers, please try to keep 
		your videos as short as possible. We also ask that you please read over our 
		<%= link_to "Community Guidelines", guidelines_path %> before uploading.
	</p>

	<br/>
	
	<h2>Special Notice:</h2>
	<p>
		We're making it even easier to contribute! Soon, you will have the option to
		provide a link to an existing video on the web. In addition to being able to uplad
		videos, you will be able to submit quiz questions and practice problems, and design 
		new courses or edit existing ones. Check out our
		<%= link_to "News and Announcements", news_path %> page to stay up-to-date on these
		exciting changes.
	</p>

</div>