	
<div class="span8 grey-box">
	<div class="grey-frame grey-frame-medium">
		<div class="video-call-to-action">
			<h3>This lesson needs a video. <em>You</em> can add one!</h3>

			<div class="holder">
				<div class="row-fluid top-space-most">
					
					<div class="span6">
						Upload a video that you have <br/>stored on your computer<br/><br/>
						<a href="#upload-modal" data-toggle="modal" class="btn btn-large btn-blue">
							<i class="icon-large icon-upload"></i>
							&nbsp;
							Upload
						</a>
					</div>

					<div class="span6">
						Provide a link to an existing <br/>video on YouTube or Vimeo<br/><br/>
						<a href="#embed-modal" data-toggle="modal" class="btn btn-blue btn-large">
							<i class="icon-large icon-link"></i>
							&nbsp;
							Embed
						</a>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>