<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-purple">
      <!-- <button class="close" data-dismiss="alert">&times;</button> -->
      <strong>The form contains <%= pluralize(@user.errors.count, "error") %>.</strong><br/>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>