<% provide(:title, "Settings for #{@course.name}") %>

<div class="row">
	
	<%= render 'courses/settings_nav', :active => :contributors %>

	<div class="span8 grey-box">
		<h2>Contributors</h2>

		<%=  %>
		
	</div>
</div>