/* define some colors */

$black: #000000;
$white: #ffffff;
$almost-white: #f5f5f5;
$dark-grey: #333333;
$light-grey: #d4d4d4;
$blue: #009193;
$green: #8aa600;
$purple: #930149;
$transparent-white: rgba(255, 255, 255, 0.7);
$transparent-dark-grey: rgba(71, 71, 71, 0.7);
$transparent-blue: rgba(0, 145, 147, 0.7);
$transparent-green: rgba(160, 182, 46, 0.7);
$transparent-purple: rgba(109, 23, 65, 0.7);