
<% if @resource.class == User %>
	<p>
		Hello <%= @resource.full_name.nil? ? @resource.username : @resource.full_name %>!
	</p>

	<p>
		Someone has requested to change your password, and you can do this by clicking the link below.
	</p>

	<p>
		<%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
	</p>

	<p>
		If you didn't request a password change, please ignore this email.
	</p>
	<p>
		Your password won't change until you access the link above and create a new one.
	</p>

<% elsif @resource.class == AdminUser %>
	<!-- In this case, ActiveAdmin is sending out the password reset message. The context is very different. This is only possible when the user is first created, and it's used as a secure way to let new administrators pick their own password. Kind of hacky, but it works. -->

	<p>Hello <%= @resource.email %>!</p>
	
	<p>
		You have been made an Administrator on CrowdCourse! Click the link below to set your admin password.
	</p>
	<p>
		<%= link_to 'Set my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
	</p>
	
<% end %>
